@page
@model EmployeeList.Pages.Employees.IndexModel
@{
}

<h2>List of employees</h2>
<a class='btn btn-primary btn-sm' href='/Employee/Create'>New Employee</a>

<table class="table">
    <thread>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thread>
    <tbody>

    </tbody>
</table>